server {
  server_name nocodb.${DOMAIN};

  include /etc/nginx/snippet.d/listen.conf;
  include /etc/nginx/snippet.d/secure.conf;
  include /etc/nginx/snippet.d/proxy.conf;

  error_log  /var/log/nginx/nocodb.errors.log;
  access_log /var/log/nginx/nocodb.access.log;

  location / {
  	include /etc/nginx/snippet.d/ws.conf;

    proxy_pass http://nocodb:5000;
  }
}
