server {
  server_name strapi4.${DOMAIN};

  include /etc/nginx/snippet.d/listen.conf;
  include /etc/nginx/snippet.d/secure.conf;
  include /etc/nginx/snippet.d/proxy.conf;

  error_log  /var/log/nginx/strapi4.errors.log;
  access_log /var/log/nginx/strapi4.access.log;

  location / {
    proxy_pass http://strapi4:1337;
  }
}
